/metodoSecantes/nbproject/private/
/metodoSecantes/build/
/metodoTangentes/nbproject/private/
/metodoTangentes/build/
/regressaoLinear/nbproject/private/
/regressaoLinear/build/
/metodoSimpson/nbproject/private/
/metodoSimpson/build/
/interpolacao/nbproject/private/
/interpolacao/build/